<div class="main-container">
  <div class="settings-container">
    <mat-card class="settings-card">
      <iframe id="video-settings" src="http://192.168.143.151/"></iframe>
    </mat-card>
  </div>

  <div class="right-panel">
    <div class="video-controls-right">
      <div class="video-stream">
        <mat-card class="video-container">
          <img [src]="cameraURL" alt="Imagen de la cámara" id="image-stream">
        </mat-card>
      </div>
      <div class="right-controls">
        <button (click)="sendAngle(170, 2); changeLR(80)" aria-label="Arriba 80°" color="accent" mat-mini-fab>
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>


        <br/>
        <button (click)="sendAngle(90,2); changeLR(10)" aria-label="Example icon button with a plus one icon" color="accent"
                mat-mini-fab>
          <i class="fa fa-circle" aria-hidden="true"></i>


        </button>
        <br/>
        <button (click)="sendAngle(10,2); changeLR(170)" aria-label="Example icon button with a plus one icon" color="accent"
                mat-mini-fab>
          <i class="fa fa-arrow-down" aria-hidden="true"></i>

        </button>
      </div>
    </div>
    <div class="bottom-controls">
      <button (click)="sendAngle(10,1); changeUD(80)" aria-label="Example icon button with a plus one icon" color="accent"
              mat-mini-fab>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <button (click)="sendAngle(90,1); changeUD(10)" aria-label="Example icon button with a plus one icon" color="accent"
              mat-mini-fab>
        <i class="fa fa-circle" aria-hidden="true"></i>


      </button>
      <button (click)="sendAngle(170,1); changeUD(170)" aria-label="Example icon button with a plus one icon" color="accent"
              mat-mini-fab>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="free-range">
      <mat-card class="controls-container">
        <div>
          <mat-slider
            [(ngModel)]="sliderValue"
            [displayWith]="formatLabel"
            [max]="170"
            [min]="10"
            [tickInterval]="10"
            class="slider-angle"
            discrete
            showTickMarks
            thumbLabel
          >
            <input matSliderThumb/>
          </mat-slider>
          <button
            (click)="sendAngle(sliderValue,2); changeUD(sliderValue)"
            color="warn"
            mat-raised-button
          >
            enviar
          </button>
        </div>
        <div>
          <mat-slider
            [(ngModel)]="sliderValue2"
            [displayWith]="formatLabel"
            [max]="170"
            [min]="10"
            [tickInterval]="10"
            class="slider-angle"
            discrete
            showTickMarks
            thumbLabel
          >
            <input matSliderThumb/>
          </mat-slider>
          <button
            (click)="sendAngle(sliderValue2,1); changeUD(sliderValue2)"
            color="warn"
            mat-raised-button
          >
            enviar
          </button>
        </div>
      </mat-card>
      <div class="cube-container">
        <canvas class="canvas" #canvas></canvas>
      </div>
    </div>

  </div>
</div>

